<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置logo</title>
    <link rel="stylesheet" href="../../assest/css/common.css"/>
    <link rel="stylesheet" href="../../assest/js/layui/css/layui.css"/>
    <script type="text/javascript" src="../../assest/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../assest/js/layui/layui.js"></script>
    <script type="text/javascript" src="../../assest/js/common.js"></script>
</head>
<body>
<div class="layui-container" style="margin-top: 10px;">
    <div class="layui-row">
        <button type="button" class="layui-btn" id="fileUpload">
            <i class="layui-icon">&#xe67c;</i>上传Logo
        </button>
    </div>
    <div class="layui-row" style="margin-top: 10px;">
        <span style="color:red">注：</span><br/>
        <span style="color:red">&nbsp;&nbsp;&nbsp;&nbsp;1.首页建议展示200*40尺寸的Logo</span><br/>
        <span style="color:red">&nbsp;&nbsp;&nbsp;&nbsp;2.点击图片可以启用Logo</span><br/>
        <span style="color:red">&nbsp;&nbsp;&nbsp;&nbsp;3.绿色边框的Logo为首页启用的Logo</span>
    </div>
</div>
<hr class="hr"/>
<div id="logoViews" class="layui-container" style="margin-top: 10px;">

</div>
<script>

    var logoSettingAction = {};

    $(function () {
        logoSettingAction.getLogoList();
    });

    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#fileUpload' //绑定元素
            , url: '/uploadLogo' //上传接口
            // ,accept:"images"
            , acceptMime: "image/*"
            , done: function (res) {
                //上传完毕回调
                $.msg(res.message);
                logoSettingAction.getLogoList();
            }
            , error: function () {
                //请求异常回调
            }
        });
    });

    logoSettingAction.getLogoList = function () {
        $.get("/listLogo", {}, function (result) {
            var logoViews = $("#logoViews");
            var html = "";
            if (result.data) {
                $(result.data).each(function (i, o) {
                    if (o.used) {
                        html += "<div class='logoDiv'><img logoId='" + o.id + "' class='logoSize logoSelect pointer' src='" + o.relativePath + "' onclick='logoSettingAction.selectedLogo(this)'/><i logoId='" + o.id + "' onclick='logoSettingAction.deleteLogo(this)' class='layui-icon pointer'>&#xe640;</i></div>";
                    } else {
                        html += "<div class='logoDiv'><img logoId='" + o.id + "' class='logoSize pointer' src='" + o.relativePath + "' onclick='logoSettingAction.selectedLogo(this)'/><i logoId='" + o.id + "' onclick='logoSettingAction.deleteLogo(this)' class='layui-icon pointer'>&#xe640;</i></div>";
                    }
                });
            }
            logoViews.html(html);
        });
    };

    logoSettingAction.deleteLogo = function (obj) {
        $.confirm("删除Logo", "确认删除此Logo吗？", function () {
            var logoId = $(obj).attr("logoId");
            $.delete("/deleteLogo", {id: logoId}, function (result) {
                $.msg(result.message);
                if (result.data) {
                    logoSettingAction.getLogoList();
                }
            });
        });
    }

    logoSettingAction.selectedLogo = function (obj) {
        var isSelected = $(obj).hasClass("logoSelect");
        if(isSelected){
            $.confirm("停用Logo","将停用此Logo，是否继续？",function(){
                $.put("/unsedLogo", {}, function (result) {
                    $.msg(result.message);
                    if (result.data) {
                        $(obj).removeClass("logoSelect");
                    }
                });
            });
        }else{
            $.confirm("启用Logo", "启用此Logo将取消其他启用Logo,确定启用此Logo作为首页展示吗？", function () {
                var logoId = $(obj).attr("logoId");
                $.put("/usedLogo", {id: logoId}, function (result) {
                    $.msg(result.message);
                    if (result.data) {
                        $(obj).addClass("logoSelect");
                    }
                });
            });
        }
    }
</script>
</body>
</html>