<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head(${name}  != null ? ${name.getName()}: '类友网络' +'-案例')"></head>
<body>
<div class="nav" th:replace="index :: nav('2')"></div>
<!-- banner部分 -->
<div class="banner case" th:if="${banner == null}">
    <div class="title">
        <p>成功案例</p>
        <p class="en">Successful Case</p>
    </div>
</div>
<div class="banner"
           th:style="'background-size:cover;background: url('+${banner.getRelativePath()}+') no-repeat center top;'"
           th:if="${banner != null}">
    <div class="title">
        <p th:text="${banner.getTitle()}">成功案例</p>
        <p class="en" th:text="${banner.getDescribe()}">Successful Case</p>
    </div>
</div>
<!-- main部分 -->
<div class="main-case" th:if="!${countCase > 0}">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-inline content">
                <div class="layui-inline case-img"><img src="assest/img/case1.jpg"></div>
                <p class="lable">名牌工厂店</p>
                <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
            </div>
            <div class="layui-inline content even center">
                <div class="layui-inline case-img"><img src="assest/img/case2.jpg"></div>
                <p class="lable">名牌工厂店</p>
                <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
            </div>
            <div class="layui-inline content">
                <div class="layui-inline case-img"><img src="assest/img/case3.jpg"></div>
                <p class="lable">名牌工厂店</p>
                <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
            </div>
            <div class="layui-inline content even">
                <div class="layui-inline case-img"><img src="assest/img/case4.jpg"></div>
                <p class="lable">名牌工厂店</p>
                <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
            </div>
            <div class="layui-inline content center">
                <div class="layui-inline case-img"><img src="assest/img/case5.jpg"></div>
                <p class="lable">名牌工厂店</p>
                <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
            </div>
            <div class="layui-inline content even">
                <div class="layui-inline case-img"><img src="assest/img/case6.jpg"></div>
                <p class="lable">名牌工厂店</p>
                <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
            </div>
            <div class="layui-inline content">
                <div class="layui-inline case-img"><img src="assest/img/case7.jpg"></div>
                <p class="lable">名牌工厂店</p>
                <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
            </div>
            <div class="layui-inline content even center">
                <div class="layui-inline case-img"><img src="assest/img/case8.jpg"></div>
                <p class="lable">名牌工厂店</p>
                <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
            </div>
            <div class="layui-inline content">
                <div class="layui-inline case-img"><img src="assest/img/case9.jpg"></div>
                <p class="lable">名牌工厂店</p>
                <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
            </div>
        </div>
        <div id="casePage"></div>
    </div>
</div>
<div id="caseAnchor" style="display: none"></div>
<div class="main-case" th:if="${countCase > 0}">
    <div class="layui-container">
        <div class="layui-row" id="caseDiv">
        </div>
        <div align="center" id="casePageDiv"></div>
    </div>
</div>
<!-- footer部分 -->
<div th:replace="index::footer"></div>
</body>
<script>

    var caseAction = {};

    $(function () {
        caseAction.getAllCase();
    });

    layui.config({
        base: 'assest/js/'
    }).use('firm');

    caseAction.getAllCase = function () {
        $.getSychronization("/case/listAllCase", {}, function (result) {
            if (result.data != null && result.data.length > 0) {
                var count = result.data.length;
                var data = result.data;
                layui.use(['laypage', 'layer'], function () {
                    var laypage = layui.laypage
                        , layer = layui.layer;
                    laypage.render({
                        elem: 'casePageDiv'
                        , count: count
                        , jump: function (obj) {
                            document.getElementById('caseDiv').innerHTML = function () {
                                var arr = []
                                    , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                layui.each(thisData, function (index, item) {
                                    var html = "";
                                    if ((index + 1) % 2 != 0) {
                                        html = '<div class="layui-inline content">\n' +
                                            '                <div class="layui-inline case-img"><img src="' + item.imgRelativePath + '"></div>\n' +
                                            '                <p class="lable">' + item.title + '</p>\n' +
                                            '                <p>' + item.describe + '</p>\n' +
                                            '            </div>'
                                    } else {
                                        html = '<div class="layui-inline content even center">\n' +
                                            '                <div class="layui-inline case-img"><img src="' + item.imgRelativePath + '"></div>\n' +
                                            '                <p class="lable">' + item.title + '</p>\n' +
                                            '                <p>' + item.describe + '</p>\n' +
                                            '            </div>'
                                    }
                                    arr.push(html);
                                });
                                return arr.join('');
                            }();
                            $("#caseAnchor")[0].scrollIntoView();
                        }
                    });
                });
            }
        });
    }
</script>
</body>
</html>