<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head(${name}  != null ? ${name.getName()}: '类友网络' +'-动态')"></head>
<body>
<div class="nav" th:replace="index :: nav('2')"></div>
<!-- banner部分 -->
<div class="banner news">
    <div class="title">
        <p>实时新闻</p>
        <p class="en">Real-time News</p>
    </div>
</div>
<div class="banner"
     th:style="'background-size:cover;background: url('+${banner.getRelativePath()}+') no-repeat center top;'"
     th:if="${banner != null}">
    <div class="title">
        <p th:text="${banner.getTitle()}">实时新闻</p>
        <p class="en" th:text="${banner.getDescribe()}">Real-time News</p>
    </div>
</div>
<!-- main -->
<div class="main-news" th:if="!${countNews > 0}">
    <div class="layui-container">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-lg6 content">
                <div>
                    <div class="news-img"><a href="newsDetail.html"><img src="assest/img/news_img1.jpg"></a></div>
                    <div class="news-panel">
                        <strong><a href="newsDetail.html">一直在你身边对你好，你却没有发现。</a></strong>
                        <p class="detail"><span>找老婆要找爱发脾气的女人。永远不会发脾气的女人就如同一杯白开水，解渴，却无味。而发脾气的女人正如烈酒般，刺激而令人无法忘怀。</span><a
                                href="newsDetail.html">[详细]</a></p>
                        <p class="read-push">发布时间：<span>2018-06-21</span></p>
                    </div>
                </div>
            </div>
            <div class="layui-col-lg6 content">
                <div>
                    <div class="news-img"><a href="newsDetail.html"><img src="assest/img/news_img1.jpg"></a></div>
                    <div class="news-panel">
                        <strong><a href="newsDetail.html">写经验交流材料的技巧全在这了！</a></strong>
                        <p class="detail"><span>看不到您的原稿，这样对空发议论，估计对您的指导性是不大的。建议您将原稿贴出来，好让老师们针对指导。这里简单给出意见：</span><a
                                href="newsDetail.html">[详细]</a></p>
                        <p class="read-push">发布时间：<span>2018-06-21</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="newsPage"></div>
    </div>
</div>

<div style="display: none;" id="newsAnchor"></div>
<div class="main-news" th:if="${countNews > 0}">
    <div class="layui-container">
        <div class="layui-row layui-col-space20" id="newsDiv">
        </div>
        <div id="newsPageDiv"></div>
    </div>
</div>


<!-- footer部分 -->
<div th:replace="index::footer"></div>
<script>

    var newsAction = {}

    $(function () {
        newsAction.getAllNews()
    })

    layui.config({
        base: 'assest/js/'
    }).use('firm');

    newsAction.getAllNews = function () {
        $.getSychronization("/news/listAllNews", {}, function (result) {
            if (result.data != null && result.data.length > 0) {
                var count = result.data.length;
                var data = result.data;
                layui.use(['laypage', 'layer'], function () {
                    var laypage = layui.laypage
                        , layer = layui.layer;
                    laypage.render({
                        elem: 'newsPageDiv'
                        , count: count
                        , jump: function (obj) {
                            document.getElementById('newsDiv').innerHTML = function () {
                                var arr = []
                                    , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                layui.each(thisData, function (index, item) {
                                    var html = '<div class="layui-col-lg6 content1">\n' +
                                        '                <div>\n' +
                                        '                    <div class="news-img"><a target="_blank" href="newsDetail.html?id='+item.id+'&publishDate='+item.publishDate+'"><img src="' + item.imgRelativePath + '"></a></div>\n' +
                                        '                    <div class="news-panel">\n' +
                                        '                        <strong><a target="_blank" href="newsDetail.html?id='+item.id+'&publishDate='+item.publishDate+'">'+item.title+'</a></strong>\n' +
                                        '                        <div class="detail1">'+item.describe+'</div>\n' +
                                        '                           <a target="_blank" href="newsDetail.html?id='+item.id+'&publishDate='+item.publishDate+'">[详细]</a>\n' +
                                        '                        <p class="read-push1">发布时间：<span>'+item.publishDate+'</span></p>\n' +
                                        '                    </div>\n' +
                                        '                </div>\n' +
                                        '            </div>';
                                    arr.push(html);
                                });
                                return arr.join('');
                            }();
                            $("#newsAnchor")[0].scrollIntoView();
                        }
                    });
                });
            }
        });
    }
</script>
</body>
</html>