<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head(${name}  != null ? ${name.getName()}: '类友网络' +'-产品')"></head>
<body>
<!-- nav部分 -->
<div class="nav" th:replace="index :: nav('1')"></div>
<!-- banner部分 -->
<div class="banner product">
    <div class="title">
        <p>产品展示</p>
        <p class="en">Product Display</p>
    </div>
</div>

<div class="banner"
     th:style="'background-size:cover;background: url('+${banner.getRelativePath()}+') no-repeat center top;'"
     th:if="${banner != null}">
    <div class="title">
        <p th:text="${banner.getTitle()}">产品展示</p>
        <p class="en" th:text="${banner.getDescribe()}">Product Display</p>
    </div>
</div>

<!-- main部分 -->
<div id="productAnchor" style="display: none;"></div>
<div class="main product" th:if="!${countProduct > 0}">
    <div class="layui-container">
        <div class="content layui-row">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img
                    src="assest/img/Product_img1.jpg"></div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
                <p class="label">JS基础库</p>
                <p class="detail">从小屏逐步扩展到大屏，最终实现所有屏幕适配，最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。</p>
                <div><a target="_blank" href="productDetail.html">查看产品 ></a></div>
            </div>
        </div>
        <div class="content layui-row">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img
                    src="assest/img/Product_img2.jpg"></div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
                <p class="label">CSS处理</p>
                <p class="detail">从小屏逐步扩展到大屏，最终实现所有屏幕适配，最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。</p>
                <div><a target="_blank" href="productDetail.html">查看产品 ></a></div>
            </div>
        </div>
        <div class="content layui-row">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img
                    src="assest/img/Product_img3.jpg"></div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
                <p class="label">兼容性</p>
                <p class="detail">从小屏逐步扩展到大屏，最终实现所有屏幕适配，最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。</p>
                <div><a target="_blank" href="productDetail.html">查看产品 ></a></div>
            </div>
        </div>
        <div class="content layui-row">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img
                    src="assest/img/Product_img4.jpg"></div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
                <p class="label">响应式</p>
                <p class="detail">从小屏逐步扩展到大屏，最终实现所有屏幕适配，最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。</p>
                <div><a target="_blank" href="productDetail.html">查看产品 ></a></div>
            </div>
        </div>
    </div>
</div>
<div class="main product" th:if="${countProduct > 0}">
    <div id="productDiv" class="layui-container">
    </div>
    <div align="center">
        <div id="productPageDiv"></div>
    </div>
</div>
<!-- footer部分 -->
<div th:replace="index::footer">
</div>
<script>

    var productAction = {};

    $(function () {
        productAction.getAllProduct();
    });

    layui.config({
        base: 'assest/js/'
    }).use('firm');

    productAction.getAllProduct = function () {
        $.getSychronization("/product/listAllProduct", {}, function (result) {
            if (result.data != null && result.data.length > 0) {
                var count = result.data.length;
                var data = result.data;
                layui.use(['laypage', 'layer'], function () {
                    var laypage = layui.laypage
                        , layer = layui.layer;
                    laypage.render({
                        elem: 'productPageDiv'
                        , count: count
                        , jump: function (obj) {
                            document.getElementById('productDiv').innerHTML = function () {
                                var arr = []
                                    , thisData = data.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                                layui.each(thisData, function (index, item) {
                                    var html = '<div class="content layui-row">\n' +
                                        '            <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img\n' +
                                        '                    src="' + item.imgRelativePath + '"></div>\n' +
                                        '            <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">\n' +
                                        '                <p class="label">' + item.title + '</p>\n' +
                                        '                <p class="detail">' + item.describe + '</p>\n' +
                                        '                <div><a target="_blank" href="productDetail.html?id=' + item.id + '">查看产品 ></a></div>\n' +
                                        '            </div>\n' +
                                        '        </div>';
                                    arr.push(html);
                                });
                                return arr.join('');
                            }();
                            $("#productAnchor")[0].scrollIntoView();
                        }
                    });
                });
            }
        });
    }

</script>
</body>
</html>