<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招贤纳士</title>
    <link rel="stylesheet" href="../../assest/css/common.css"/>
    <link rel="stylesheet" href="../../assest/js/layui/css/layui.css"/>
    <script type="text/javascript" src="../../assest/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../assest/js/layui/layui.js"></script>
    <script type="text/javascript" src="../../assest/js/common.js"></script>
</head>
<body>

<div style="margin-top: 10px;">
    <a class="layui-btn layui-btn-sm layui-btn-primary" onclick="recruitAction.add()"><i class="layui-icon">&#xe654;</i></a>
</div>
<table class="layui-hide" id="recruitTable" lay-filter="recruitTable"></table>

<script type="text/html" id="recruitTableOperationBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="describeTemplet">
    <div class="describeDiv">
        {{d.describe}}
    </div>
</script>

<script>

    var recruitAction = {};

    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#recruitTable'
            , id: "recruitTable"
            , url: '/about/listRecruit'
            , page: true
            , title: "职位表"
            , cols: [
                [
                    {field: 'id', width: 80, title: 'ID'}
                    , {field: 'title', width: 200, title: '标题'}
                    , {field: 'describe', width: 800, title: '描述',templet:"#describeTemplet"}
                    , {title: "操作", toolbar: "#recruitTableOperationBar"}
                ]
            ]
        });

        //监听行工具事件
        table.on('tool(recruitTable)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                recruitAction.details(data.id);
            } else if (layEvent === 'del') {
                layer.confirm('是否删除这条记录？', function (index) {
                    $.delete("/about/deleteRecruit", {id: data.id}, function (result) {
                        $.msg(result.message);
                        if (result.data) {
                            table.reload("recruitTable", {});
                        }
                        layer.close(index);
                    });
                });
            } else if (layEvent === 'edit') {
                recruitAction.edit(data.id);
            }
        });

    });

    recruitAction.add = function () {
        var options = {
            title: "新增招聘信息",
            maxmin: true,
            width: 700,
            height: 520,
            btns: ['保存', '关闭'],
            btn1: function (index, layero) {
                var form = $(layero).find("iframe")[0].contentWindow.recruitEditAction.callbackData();
                $.post("/about/saveRecruit", form, function (result) {
                    $.msg(result.message);
                    if (result.data) {
                        layui.use('table', function () {
                            var table = layui.table;
                            table.reload("recruitTable", {});
                        });
                    }
                });
            }
        }
        $.iframe("recruitEdit.html", options, {edit:true});
    }

    recruitAction.details = function(id){
        var options = {
            title: "招聘信息详情",
            maxmin: true,
            width: 700,
            height: 520,
            btns: ['关闭']
        }
        $.iframe("recruitEdit.html", options, {id:id,edit:false});
    }

    recruitAction.edit = function(id){

        var options = {
            title: "修改招聘信息",
            maxmin: true,
            width: 700,
            height: 520,
            btns: ['修改', '关闭'],
            btn1: function (index, layero) {
                var form = $(layero).find("iframe")[0].contentWindow.recruitEditAction.callbackData();
                $.put("/about/updateRecruit", form, function (result) {
                    $.msg(result.message);
                    if (result.data) {
                        layui.use('table', function () {
                            var table = layui.table;
                            table.reload("recruitTable", {});
                        });
                    }
                });
            }
        }

        $.iframe("recruitEdit.html", options, {id:id,edit:true});
    }

</script>
</body>
</html>