<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页尾管理</title>
    <link rel="stylesheet" href="../../assest/css/common.css"/>
    <link rel="stylesheet" href="../../assest/js/layui/css/layui.css"/>
    <script type="text/javascript" src="../../assest/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../assest/js/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="../../assest/js/layui/layui.js"></script>
    <script type="text/javascript" src="../../assest/js/common.js"></script>
</head>
<body>
<div class="layui-container" style="margin-top: 20px;">
    <form id="footerForm" class="layui-form">
        <input type="hidden" id="id" name="id"/>
        <div class="layui-row">
            <div class="layui-col-md6">
                <label class="layui-form-label">电话：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="telephone" name="telephone" placeholder="请输入电话"/>
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">邮箱：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="email" name="email" placeholder="请输入邮箱"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="layui-row">
            <div class="layui-form-item">
                <label class="layui-form-label">地址：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="address" name="address" placeholder="请输入地址"/>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-form-item">
                <label class="layui-form-label">Copyright：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="copyRight" name="copyRight" placeholder="请输入Copyright和备案号"/>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <label class="layui-form-label">二维码：</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="fileUpload" onclick="footerSettingAction.chooseFile()">
                    <i class="layui-icon">&#xe67c;</i>上传二维码
                </button>
                <span style="margin-left: 20px;color: red;">建议上传二维码尺寸为86*86</span>
            </div>
        </div>
        <br/>
        <div class="layui-row">
            <div class="layui-input-block">
                <input type="file" style="display: none" accept=".jpg,.png" id="file" name="file"/>
                <input type="hidden" id="qrRelativePath"  name="qrRelativePath"/>
                <input type="hidden" id="qrRealPath" name="qrRealPath"/>
                <img id="qrCode" name="qrRelativePath" class="QRCode"/>
            </div>
        </div>
        <br/>
    </form>
</div>
<hr class="hr"/>
<div align="center" class="layui-row">
    <button id="footerSubmit" class="layui-btn layui-btn-normal" onclick="footerSettingAction.editFooter()">保存</button>
    <button class="layui-btn layui-btn-danger" onclick="footerSettingAction.clearFooter()">清空数据并保存</button>
</div>
<script>
    var footerSettingAction = {};

    $("#file").on("change",function(){
        // Get a reference to the fileList
        var files = !!this.files ? this.files : [];
        // If no files were selected, or no FileReader support, return
        if (!files.length || !window.FileReader) return;
        // Only proceed if the selected file is an image
        if (/^image/.test(files[0].type)) {
            // Create a new instance of the FileReader
            var reader = new FileReader();
            // Read the local file as a DataURL
            reader.readAsDataURL(files[0]);
            // When loaded, set image data as background of div
            reader.onloadend = function () {
                $("#qrCode").attr("src", this.result);
            }
        }
    });

    $(function () {
        footerSettingAction.getFooter();
    });

    footerSettingAction.chooseFile = function () {
        $("#file").click();
    }

    footerSettingAction.getFooter = function () {
        $.get("/getFooter",{}, function (result) {
            if (result.data) {
                $("#footerForm").setValue(result.data);
            }
        });
    }

    footerSettingAction.editFooter = function(){
        var id = $("#id").val();
        var telephone = $("#telephone").val();
        var email = $("#email").val();
        var address = $("#address").val();
        var copyRight = $("#copyRight").val();
        var qrRelativePath = $("#qrRelativePath").val();
        var qrRealPath = $("#qrRealPath").val();
        var file = $("#file")[0].files[0];
        $.upload("/saveFooter", {id:id,telephone:telephone,email:email,address:address,copyRight:copyRight,qrRealPath:qrRealPath,qrRelativePath:qrRelativePath,file:file},function(result){
            $.msg(result.message);
            if(result.data){
                footerSettingAction.getFooter();
            }
        });
    }

    footerSettingAction.clearFooter = function(){
        $.post("/saveFooter",{},function(result){
            $.msg(result.message);
            if(result.data){
                $("#footerForm")[0].reset();
                $("#qrCode").attr("src","");
            }
        });
    }

</script>
</body>
</html>