<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合作伙伴设置</title>
    <link rel="stylesheet" href="../../assest/css/common.css"/>
    <link rel="stylesheet" href="../../assest/js/layui/css/layui.css"/>
    <script type="text/javascript" src="../../assest/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../assest/js/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="../../assest/js/layui/layui.js"></script>
    <script type="text/javascript" src="../../assest/js/common.js"></script>
</head>
<body>

<br/>
<div class="layui-container">
    <form id="linksForm" class="layui-form">
        <div class="layui-row">
            友情连接（点击右侧添加）&nbsp;&nbsp;&nbsp;&nbsp;<i onclick="linkSettingAction.addLink()" class="layui-icon pointer">&#xe654;</i>
            <br/>
            <br/>
            <div id="linkDiv">
                <div name="linkBlock">
                    <div class="layui-row">
                        <div class='layui-col-md3'>
                            <label class='layui-form-label'>名称：</label>
                            <div class='layui-input-block'>
                                <input type='text' class='layui-input' name='links[0].nickName' value=''
                                       placeholder='请输入友情连接名称'/>
                            </div>
                        </div>
                        <div class='layui-col-md8'>
                            <label class='layui-form-label'>链接地址：</label>
                            <div class='layui-input-block'>
                                <input type='text' class='layui-input' name='links[0].url' value=''
                                       placeholder='请输入友情链接地址'/>
                            </div>
                        </div>
                        <div class='layui-col-md1' style="padding-left: 10px;" onclick="linkSettingAction.delete(this)">
                            <a class="layui-btn"><i class="layui-icon">&#xe640;</i>删除</a>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </form>
</div>
<hr class="hr"/>
<div align="center">
    <button id="linkSubmit" onclick="linkSettingAction.save()" class="layui-btn layui-btn-normal">保存</button>
</div>

<script>

    var linkSettingAction = {}

    $(function () {
        linkSettingAction.list();
    });

    linkSettingAction.addLink = function () {
        var linkDiv = $("#linkDiv");
        var html = $("#linkDiv").html();
        var nickNames = $("input[name*='nickName']");
        var urls = $("input[name*='url']");
        html += "<div name='linkBlock'><div class='layui-row' >" +
            "<div class='layui-col-md3'>" +
            "<label class='layui-form-label'>名称：</label>" +
            "<div class='layui-input-block'>" +
            "<input type='text' class='layui-input' name='links[].nickName' value='' placeholder='请输入友情连接名称'/>" +
            "</div>" +
            "</div>" +
            "<div class='layui-col-md8'>" +
            "<label class='layui-form-label'>链接地址：</label>" +
            "<div class='layui-input-block'>" +
            "<input type='text' class='layui-input' name='links[].url' value='' placeholder='请输入友情链接地址'/>" +
            "</div>" +
            "</div>" +
            "<div class='layui-col-md1' style='padding-left: 10px;' onclick='linkSettingAction.delete(this)'>" +
            "<a class='layui-btn'><i class='layui-icon'>&#xe640;</i>删除</a>" +
            "</div>" +
            "</div><br/></div>";
        linkDiv.html(html);
        $("div[name='linkBlock']").each(function (i, o) {
            var nickName = $(o).find("input[name*='nickName']");
            nickName.val(nickNames.eq(i).val());
            nickName.attr("name", "links[" + i + "].nickName");
            var url = $(o).find("input[name*='url']");
            url.val(urls.eq(i).val());
            url.attr("name", "links[" + i + "].url");
        });
    }

    linkSettingAction.save = function () {
        $("div[name='linkBlock']").each(function (i, o) {
            var nickName = $(o).find("input[name*='nickName']").val();
            var url = $(o).find("input[name*='url']").val();
            if(!nickName && !url){
                $(o).remove();
            }
        });
        $.post("/saveLinks", $("#linksForm").serializeArray(), function (result) {
            $.msg(result.message);
        });
    }

    linkSettingAction.delete = function (o) {
        $(o).parent().parent().remove();
        $("div[name='linkBlock']").each(function (i, o) {
            var nickName = $(o).find("input[name*='nickName']");
            nickName.attr("name", "links[" + i + "].nickName");
            var url = $(o).find("input[name*='url']");
            url.attr("name", "links[" + i + "].url");
        });
    }

    linkSettingAction.list = function () {
        $.get("/listLinks", {}, function (result) {
            if (result.data) {
                var linkDiv = $("#linkDiv");
                linkDiv.html("");
                var html = "";
                $(result.data).each(function (i, o) {
                    html += "<div name='linkBlock'><div class='layui-row' >" +
                        "<input type='hidden' name='links[].id' value='" + o.id + "'>" +
                        "<div class='layui-col-md3'>" +
                        "<label class='layui-form-label'>名称：</label>" +
                        "<div class='layui-input-block'>" +
                        "<input type='text' class='layui-input' name='links[].nickName' value='" + o.nickName + "' placeholder='请输入友情连接名称'/>" +
                        "</div>" +
                        "</div>" +
                        "<div class='layui-col-md8'>" +
                        "<label class='layui-form-label'>链接地址：</label>" +
                        "<div class='layui-input-block'>" +
                        "<input type='text' class='layui-input' name='links[].url' value='" + o.url + "' placeholder='请输入友情链接地址'/>" +
                        "</div>" +
                        "</div>" +
                        "<div class='layui-col-md1' style='padding-left: 10px;' onclick='linkSettingAction.delete(this)'>" +
                        "<a class='layui-btn'><i class='layui-icon'>&#xe640;</i>删除</a>" +
                        "</div>" +
                        "</div><br/></div>";
                });
                linkDiv.html(html);
                $("div[name='linkBlock']").each(function (i, o) {
                    var id = $(o).find("input[name*='id']");
                    id.attr("name","links["+i+"].id");
                    var nickName = $(o).find("input[name*='nickName']");
                    nickName.attr("name", "links[" + i + "].nickName");
                    var url = $(o).find("input[name*='url']");
                    url.attr("name", "links[" + i + "].url");
                });
            }
        });
    }


</script>
</body>
</html>